
header{

    background: url('../images/background.jpg') no-repeat center top;
    background-size: cover;
    text-align: center;
    
    img#logo{
        display: block;
        margin: 45px auto 120px;
    }

}