section, footer{

    position: relative;

    .wrapper{
        background-clip: 5px 5px;
        background-position: 0 0;
        background-repeat: repeat-y;
        padding-bottom: 100px;
        background-size: 100% 100%;
    }    

    &.section-angle-top{
        .wrapper{            
            &:before {
                content: '';
                display: block;
                height: 108px;
                position: absolute;
                width: 100%;
                left: 0;
                top: -106px;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }        
    }

    &.section-angle-bottom{
        .wrapper{            
            padding-bottom: 0;
            &:after {
                content: '';
                display: block;
                height: 108px;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -106px;
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }        
    }    

    &.section-style-wood{
        background-image: url('../images/background.jpg');
        background-position-y: -550px; 
        text-shadow: 1px 1px 1px $color-spicy-pink;
    }

    &.section-style-brown{       
        .wrapper{
            background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='1' viewBox='0 0 100 1' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%232D2929;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color: %23776566;stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect width='100' height='1' style='fill:url(%23grad1);' /%3E%3C/svg%3E");
         }

        &.section-angle-top{
            .wrapper{
                &:before {
                     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%232D2929;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color: %23776566;stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:url(%23grad1);'/%3E%3C/svg%3E");
 
                }
            }            
        }

    }    

    &.section-style-grey{

        .wrapper{
            background: $color-grey;
        }
        &.section-angle-top{
            .wrapper{
                &:before {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23F4F4F4%3B' /%3E%3C/svg%3E");
                }
            }
        }
        &.section-angle-bottom{
            .wrapper{
                &:after {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='100,0 0,100 0,0' style='fill:%23F4F4F4%3B' /%3E%3C/svg%3E");
                }                   
            }
        }        
        
    }

    &.section-style-black{
     
        .wrapper{
            background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='1' viewBox='0 0 100 1' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%23131212;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color: %23323030;stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Crect width='100' height='1' style='fill:url(%23grad1);' /%3E%3C/svg%3E");
      }

        &.section-angle-top{
            .wrapper{
                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cdefs%3E%3ClinearGradient id='grad1' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:%23131212;stop-opacity:1' /%3E%3Cstop offset='100%25' style='stop-color: %23323030;stop-opacity:1' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:url(%23grad1);'/%3E%3C/svg%3E");
                }
            }            
        }

    }     

    &.section-angle-bottom + section {
        z-index: -1;
        padding-top: 100px;
    }

    
}



